<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Tienda de Discos</title>
  <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
  <h1>Bienvenido a la Tienda de Discos</h1>

  <div style="display: flex; justify-content: center; gap: 50px; margin-top: 50px;">
    <a href="/cliente">
      <button style="padding: 20px; font-size: 20px;">Cliente</button>
    </a>
    <a href="/login">
      <button style="padding: 20px; font-size: 20px;">Admin</button>
    </a>
  </div>
</body>
</html>
